
@{
    Layout = "_AdminLayout";
}

<h2>cc</h2>

@* @section Scripts { *@
@*     <script> *@
@*         function handleLogout() { *@
@*             fetch('/KhachHang/DangXuat', { method: 'POST' }) *@
@*                 .then(response => { *@
@*                     if (response.redirected) { *@
@*                         window.location.href = response.url; // Chuyển hướng sau khi đăng xuất *@
@*                     } *@
@*                 }) *@
@*                 .catch(error => console.error('Lỗi khi đăng xuất:', error)); *@
@*         } *@
@*     </script> *@
@* } *@