@model TinhLam.ViewModels.CartModel

<a asp-action="Index" asp-controller="Cart" class="icon-btn cart-btn position-relative">
    <i class="fa fa-shopping-bag"></i>
    <span class="cart-badge">@Model.Quantity</span>
</a>
